body {
    background-color: black !important;
}

.bg-gray {
    background-color: #d0d1d22b !important;
}

.bg-tuiter {
    background-color: rgb(40, 172, 244) !important;
}

.text-tuiter {
    color: rgb(40, 172, 244) !important;
}

.active {
    background-color: rgb(40, 172, 244) !important;
}

.nav,
.nav-link {
    border: 0px !important;
}

.custom-pos-navbar {
    position: relative;
    right: 15px;
}

@media (max-width: 576px) {
    .custom-pos-navbar {
        position: relative;
        left: 1px;
    }
}